@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/static/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/static/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Мобильная адаптация */
@media (max-width: 400px) {
  .calendar-grid {
    grid-template-columns: 60px repeat(1, 1fr);
  }
}

@media (min-width: 401px) and (max-width: 750px) {
  .calendar-grid {
    grid-template-columns: 60px repeat(3, 1fr);
  }
}

@media (min-width: 751px) {
  .calendar-grid {
    grid-template-columns: 60px repeat(7, 1fr);
  }
}